In [2]:
import pandas as pd
import numpy as np

In [3]:
trainfile ='mnist_train.csv'
testfile ='mnist_test.csv'

In [4]:
df_train = pd.read_csv(trainfile,header=None)
df_test = pd.read_csv(testfile,header=None)

In [5]:
df_train.head()

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,9,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
def transform(x):
    if x<255/2:
        return 0
    else:
        return 1

In [7]:
df_train.iloc[:,1:] = df_train.iloc[:,1:].applymap(transform)
df_test.iloc[:,1:] = df_test.iloc[:,1:].applymap(transform)

In [8]:
train_y = df_train.iloc[:,0]
train_x = df_train.iloc[:,1:]

In [9]:
P_class = train_y.value_counts(sort=False)/len(train_y)
P_class

5    0.090350
0    0.098717
4    0.097367
1    0.112367
9    0.099150
2    0.099300
3    0.102183
6    0.098633
7    0.104417
8    0.097517
Name: 0, dtype: float64

In [10]:
train_y==0

0        False
1         True
2        False
3        False
4        False
         ...
59995    False
59996    False
59997    False
59998    False
59999    False
Name: 0, Length: 60000, dtype: bool

In [11]:
train_x[train_y==0]

,1,2,3,4,5,6,7,8,9,10,...,775,776,777,778,779,780,781,782,783,784
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
34,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
51,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59940,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59944,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59972,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
59987,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [11]:
f_sum = train_x[train_y==0].apply(np.sum,axis=0)
f_sum

1      0
2      0
3      0
4      0
5      0
6      0
7      0
8      0
9      0
10     0
11     0
12     0
13     0
14     0
15     0
16     0
17     0
18     0
19     0
20     0
21     0
22     0
23     0
24     0
25     0
26     0
27     0
28     0
29     0
30     0
      ..
755    0
756    0
757    0
758    0
759    0
760    0
761    0
762    0
763    0
764    0
765    0
766    0
767    0
768    0
769    0
770    0
771    0
772    0
773    0
774    0
775    0
776    0
777    0
778    0
779    0
780    0
781    0
782    0
783    0
784    0
Length: 784, dtype: int64

In [12]:
c_num = train_y.value_counts(sort=False)
c_num

0    5923
1    6742
2    5958
3    6131
4    5842
5    5421
6    5918
7    6265
8    5851
9    5949
Name: 0, dtype: int64

In [13]:
c_0 = c_num[0]
c_0

5923

In [15]:
k,N = 1,2
P_fi_c0 = (f_sum +k)/(c_0+k*N)
P_fi_c0[:5]

1    0.000169
2    0.000169
3    0.000169
4    0.000169
5    0.000169
dtype: float64

In [16]:
def train(X, Y, k=1,N=2,C=10):
    
    #  参数说明：
    #  X：样本特征，pandas.DataFrame类型
    #  Y: 样本标签，pandas.Series类型
    #  k,N : 拉普拉斯平滑参数
    #  C: 类别数
    
    #用numpy.array计算，
    #都返回array类型
    '''
    P_class = np.array(Y.value_counts(sort=False)) #shape:(C,)
    I_fc    = np.array([X[Y==i].apply(np.sum,axis=0).tolist() for i in range(10)]) + k #shape:(10,784)
    I_c     = P_class + N*k
    E       = I_fc/I_c[:,None] 
    
    #用pandas中DataFrame,Series计算，
    #返回：P_class（Series），E（DataFrame）
    '''
    P_class = Y.value_counts(sort=False)
    I_fc    = pd.DataFrame([X[Y==i].apply(np.sum,axis=0).tolist() for i in range(C)]) + k
    I_c     = P_class + N*k
    E       = I_fc.div(I_c,axis=0).values  #结果为 np.array 类型
    
    
    
    return P_class,E

In [17]:
P_class,E = train(train_x,train_y)

In [18]:
P_class

0    5923
1    6742
2    5958
3    6131
4    5842
5    5421
6    5918
7    6265
8    5851
9    5949
Name: 0, dtype: int64

In [19]:
pd.DataFrame(E)

,0,1,2,3,4,5,6,7,8,9,...,774,775,776,777,778,779,780,781,782,783
0,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,...,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169
1,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,...,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148,0.000148
2,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,...,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168
3,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,...,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163,0.000163
4,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,...,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171
5,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,...,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184,0.000184
6,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,...,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169,0.000169
7,0.000160,0.000160,0.000160,0.000160,0.000160,0.000160,0.000160,0.000160,0.000160,0.000160,...,0.006223,0.002234,0.001277,0.000479,0.000479,0.000160,0.000160,0.000160,0.000160,0.000160
8,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,...,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171,0.000171
9,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,0.000168,...,0.000840,0.000840,0.001008,0.000504,0.000336,0.000168,0.000168,0.000168,0.000168,0.000168

In [20]:
sample_x = df_test.iloc[0,1:].values.reshape(1,-1) #取一个测试样本
sample_y = df_test.iloc[0,0]                       #样本标签
P_class,E = train(train_x,train_y)

In [23]:
bz1 = np.subtract(sample_x,1)
bz2 = np.abs(bz1)
bz3 = np.subtract(bz2,E)
bz4 = np.abs(bz3)
bz4.shape

(10, 784)

In [24]:
log_p_fi_c0 = np.log(bz4)       #取对数
log_p_c0    = np.log(P_class)
P_c0_X      = log_p_c0 + np.sum(log_p_fi_c0,axis=1)
P_c0_X

0   -257.970425
1   -290.702313
2   -234.193041
3   -207.871738
4   -182.454933
5   -195.088772
6   -281.520539
7   -103.623562
8   -209.329246
9   -152.176326
Name: 0, dtype: float64

In [27]:
def predict(X,P_class,E):
    bz1 = np.subtract(X,1)
    bz2 = np.abs(bz1)
    bz3 = np.subtract(bz2,E)
    bz4 = np.abs(bz3)
    log_p_fi_cj = np.log(bz4) 
    log_p_cj    = np.log(P_class.values)
    P_cj_X      = np.add(log_p_cj, np.sum(log_p_fi_cj,axis=1))
    return np.argmax(P_cj_X)

In [28]:
max_class = predict(sample_x,P_class,E)

In [29]:
max_class

7

In [32]:
pre_list = []
for i in range(df_test.shape[0]):
    sample_x = df_test.iloc[i,1:].values.reshape(1,-1)
    pre_list.append(predict(sample_x,P_class,E))

In [37]:
y = df_test.iloc[:,0]
acc = len(y[y==pd.Series(pre_list)])/len(y)
acc

0.8427